body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light background color */
    text-align: center;
}

#welcome-message {
    margin-top: 100px;
}

#greeting {
    font-size: 36px;
    color: #333; /* Dark text color */
}

#location {
    font-size: 18px;
    color: #666; /* Medium text color */
}
/* Add this to your CSS file */
.city-letter {
    color: blue; /* Change this to your desired color */
}
